<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="https://demoUser:demoUser%4012345@specslounge-test.centralindia.cloudapp.azure.com"/>
		<add key="frameCatalogueUrl" value="https://demoUser:demoUser%4012345@specslounge-test.centralindia.cloudapp.azure.com/en-IN/frame-catalogue"/>
	</appSettings>
</configuration>